<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ProjetCleanCity.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<add name="CS"
			 connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\CleanCityDB.mdf;Initial Catalog=CleanCityDB;Integrated Security=True;Connect Timeout=30;"
			 providerName="System.Data.SqlClient" />
		<add name="ProjetCleanCity.Properties.Settings.StockDBConnectionString"
           connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=&quot;|DataDirectory|\CleanCityDB.mdf&quot;;Initial Catalog=CleanCityDB;Integrated Security=True"
           providerName="System.Data.SqlClient" />
	
	</connectionStrings>
	
 <userSettings>
  <ProjetCleanCity.Properties.Settings>
   <setting name="Cle" serializeAs="String">
    <value />
   </setting>
   <setting name="Creation" serializeAs="String">
    <value />
   </setting>
   <setting name="Expiration" serializeAs="String">
    <value />
   </setting>
   <setting name="Jours_Restants" serializeAs="String">
    <value />
   </setting>
   <setting name="Cle_de_Cryptage" serializeAs="String">
    <value />
   </setting>
  </ProjetCleanCity.Properties.Settings>
 </userSettings>
</configuration>